# Environnement virtuel
venv/
.env/
gan_env/
env_signatory/

# Dossiers non travaillés
Chapter4/
Hypergraphs tests/
Introduction/

# Résultats des tests
graphes_résultat/
ep_ex_tests/
results/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc

# Fichiers de logs ou temporaires
*.log
*.tmp
*.swp
*.bak

# Paramètres de VS Code
.vscode/

# Cache de test / outils
.pytest_cache/
.coverage
.cache/
htmlcov/

# Fichiers de dépendances (si non utilisés)
Pipfile.lock
poetry.lock
